Κατά τη μέρα που βρίσκομαι στον πλανήμα
και σκέφτομαι στον άνθρωπο
Υπάρχει περισσότερο να βλέπουμε
περισσότερο να κάνουμε
περισσότερο να κάνουμε
Υπάρχει περισσότερο να φτάσουμε εδώ
και κανείς μπροστά.
Υπάρχει περισσότερο να κάνουμε
περισσότερο να κάνουμε
περισσότερο να κάνουμε
Είμαστε ευθύντες.
Είμαστε ευθύντες.